./api/HELP.md
./api/target/**
./api/.mvn
./api/mvnw
./api/mvnw.cmd
!**/src/main/**/target/
!**/src/test/**/target/
.mvn
mvnw
mvnw.cmd
.db
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
./api/idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
./api/vscode/

./db


/api/target/classes/com/commerce/api/model/CarrinhoDeCompras.class
/.idea/.gitignore
/api/target/api-0.0.1-SNAPSHOT.jar
/api/target/api-0.0.1-SNAPSHOT.jar.original
/api/target/classes/com/commerce/api/ApiApplication.class
/api/target/test-classes/com/commerce/api/ApiApplicationTests.class
/api/target/classes/application.yaml
/api/target/classes/com/commerce/api/controller/AuthenticationController.class
/api/target/classes/com/commerce/api/model/dto/AuthenticationDTO.class
/api/target/classes/com/commerce/api/service/AuthenticationService.class
/api/target/classes/com/commerce/api/repository/CarrinhoDeComprasRepository.class
/api/target/classes/com/commerce/api/service/CarrinhoDeComprasService.class
/api/target/classes/com/commerce/api/model/Cliente.class
/api/target/classes/com/commerce/api/controller/ClienteController.class
/api/target/classes/com/commerce/api/model/dto/ClienteDTO.class
/api/target/classes/com/commerce/api/repository/ClienteRepository.class
/api/target/classes/com/commerce/api/service/ClienteService.class
/api/target/classes/com/commerce/api/model/dto/ClienteUpdateDTO.class
/api/.idea/compiler.xml
/api/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/api/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/api/.idea/encodings.xml
/api/target/classes/com/commerce/api/exception/ErrorMessage.class
/api/target/classes/com/commerce/api/exception/GlobalExceptionHandler.class
/api/HELP.md
/api/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/api/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/api/target/classes/com/commerce/api/exception/InvalidOperationException.class
/api/target/classes/com/commerce/api/model/Item.class
/api/target/classes/com/commerce/api/repository/ItemRepository.class
/api/.idea/jarRepositories.xml
/api/.vscode/launch.json
/api/target/classes/com/commerce/api/model/dto/LoginResponseDTO.class
/api/target/classes/com/commerce/api/model/Loja.class
/api/target/classes/com/commerce/api/controller/LojaController.class
/api/target/classes/com/commerce/api/model/dto/LojaDTO.class
/api/target/classes/com/commerce/api/repository/LojaRepository.class
/api/target/classes/com/commerce/api/service/LojaService.class
/api/target/classes/com/commerce/api/model/dto/LojaUpdateDTO.class
/.idea/misc.xml
/api/.idea/misc.xml
/.idea/modules.xml
/api/target/classes/com/commerce/api/model/Pagamento.class
/api/target/classes/com/commerce/api/model/dto/PagamentoDTO.class
/api/target/classes/com/commerce/api/model/Pedido.class
/api/target/classes/com/commerce/api/controller/PedidoController.class
/api/target/classes/com/commerce/api/model/dto/PedidoDTO.class
/api/target/classes/com/commerce/api/repository/PedidoRepository.class
/api/target/classes/com/commerce/api/service/PedidoService.class
/api/target/classes/com/commerce/api/model/PedidoStatus.class
/api/target/classes/com/commerce/api/model/dto/PedidoUpdateDTO.class
/api/target/maven-archiver/pom.properties
/api/target/classes/com/commerce/api/model/Produto.class
/api/target/classes/com/commerce/api/controller/ProdutoController.class
/api/target/classes/com/commerce/api/model/dto/ProdutoDTO.class
/api/target/classes/com/commerce/api/repository/ProdutoRepository.class
/api/target/classes/com/commerce/api/service/ProdutoService.class
/api/target/classes/com/commerce/api/model/dto/RegisterDTO.class
/api/target/classes/com/commerce/api/exception/ResourceNotFoundException.class
/api/target/classes/com/commerce/api/configs/SecurityConfig.class
/api/target/classes/com/commerce/api/security/SecurityFilter.class
/api/.vscode/settings.json
/api/target/classes/com/commerce/api/configs/SpringDocConfig.class
/api/target/classes/com/commerce/api/validation/constraints/Status.class
/api/target/classes/com/commerce/api/validation/StatusValidation.class
/api/target/classes/com/commerce/api/validation/constraints/Telefone.class
/api/target/classes/com/commerce/api/validation/TelefoneValidation.class
/api/target/classes/com/commerce/api/security/TokenService.class
/api/.idea/uiDesigner.xml
/api/target/classes/com/commerce/api/model/UserRole.class
/api/target/classes/com/commerce/api/model/Usuario.class
/.idea/vcs.xml
/api/.idea/vcs.xml
/api/target/classes/com/commerce/api/configs/WebConfig.class
/api/target/api.jar
